<h1>Told you so!</h1>

<h2>Soon...</h2>
<div ng-repeat="story in stories | orderBy: 'date'">
	<div class="text">{{story.text}}</div>
	<div class="date">{{story.date | date:'medium'}}</div>
	<div class="user">{{story.user.nickName}}</div>
</div>

<h2>Last</h2>
<div ng-repeat="story in stories | orderBy: 'created_at'">
	<div class="text">{{story.text}}</div>
	<div class="date">{{story.date | date:'medium'}}</div>
	<div class="user">{{story.user.nickName}}</div>
</div>

<h2>Success!</h2>
<div ng-repeat="story in stories | filter: {success: true}">
	<div class="text">{{story.text}}</div>
	<div class="date">{{story.date | date:'medium'}}</div>
	<div class="user">{{story.user.nickName}}</div>
</div>

<a ng-href="#/create_story">Create a story</a>
<a ng-href="#/create_user">Create a user</a>
<a ng-href="#/login">Login</a>